# Lab 4: Introduction to Python Environments
## Anaconda & Jupyter Notebook

This lab introduces **Anaconda** and **JupyterLab/Notebook, which we will use throughout the course.

## Learning Objectives
- Launch Jupyter Notebook using Anaconda
- Create and run Python code cells
- Use basic Python syntax
- Work with common Python data types

## ðŸ”¹ Part I â€” Getting Started with Jupyter Notebook
Jupyter notebooks are made of **cells**.
- Code cells execute Python
- Markdown cells contain text

In [1]:
print('Hello, world!')

Hello, world!

## ðŸ”¹ Part II â€” Basic Python Syntax

In [2]:
# Printing output
print("Welcome to Python!")

# Variables
x = 10
y = 5

# Arithmetic
print(x + y)
print(x * y)

Welcome to Python!
15
50

## ðŸ”¹ Part III â€” Python Data Types

In [3]:
# Numbers
a = 3
b = 2.5
print(a, b)

# Strings
name = "Student"
print("Hello,", name)

# Lists
nums = [1, 2, 3, 4]
print(nums)

3 2.5
Hello, Student
[1, 2, 3, 4]

## ðŸ”¹ Part IV â€” Input and Output

In [4]:
user = input("Enter your name: ")
print("Nice to meet you,", user)

Enter your name:  Abit Jurkuch

Nice to meet you, Abit Jurkuch

## Student Tasks
Complete the tasks below.

### Task 1 â€” Modify Output
- Change the print statement to display your name.

In [3]:
print('My name is Sara Hale.')

My name is Sara Hale.

### Task 2 â€” Variables
- Create two numbers and print their sum and product.

In [6]:
# Variables

a = 5
b = 6

#Arithmetic
print(a+b)
print(a*b)

11
30

### Task 3 â€” Lists
- Create a list of 5 numbers and print its length.

In [8]:
#list
nums=[333, 22, 1]
print(nums)

[1, 2, 3, 4, 5]

### Task 4 â€” Reflection
- Add a Markdown cell explaining what Jupyter Notebook is.

Jupyter Notebook is an application that can create documents using code.